@import '@/styles/mixins.scss';
@import "@/styles/global-variables.scss";

.chevron_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  transition: .2s;
}

.reverse {
  transform: rotate(180deg);

  svg {
    color: $blue5;
  }
}

.control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: 11px 12px;
  border-radius: 8px;
  border: 1px solid $grey3;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    border: 1px solid $blue5;
  }
}

.opened {
  border: 1px solid $blue5;
}

.hidden {
  color: $grey5;
}

.menu {
  max-height: 188px;
  overflow-y: scroll;
  padding: 4px;

  &::-webkit-scrollbar {
    width: 4px;
    margin-right: 4px;
  }

  ::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey5;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $grey5;
  }
}

.active_option {
  background-color: $blue5;
  border-radius: 8px;
  color: $white;
  font-weight: 500;
}

.option {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 8px;

  &:hover {
    background-color: $blue1;
    border-radius: 8px;
  }

  &:active {
    background-color: $blue5;
    border-radius: 8px;
    color: $white;
    font-weight: 500;
  }
}

@media screen and (max-width: 1439px) {
  .chevron_icon {
    width: vw(24px, 1440px);
  }

  .control {
    padding: vw(11px, 1440px) vw(12px, 1440px);
    font-size: vw(14px, 1440px);
    line-height: vw(20px, 1440px);
  }


  .menu {
    max-height: vw(188px, 1440px);
  }

  .option {
    font-size: vw(14px, 1440px);
    line-height: vw(20px, 1440px);
  }
}

@media screen and (max-width: 799px) {
  .chevron_icon {
    width: vw(24px, 799px);
  }

  .control {
    padding: vw(11px, 799px) vw(12px, 799px);
    font-size: vw(14px, 799px);
    line-height: vw(20px, 799px);
  }


  .menu {
    max-height: vw(188px, 799px);
  }

  .option {
    font-size: vw(14px, 799px);
    line-height: vw(20px, 799px);
  }
}

@media screen and (max-width: 480px) {
  .chevron_icon {
    width: vw(24px);
  }

  .control {
    padding: vw(11px) vw(12px);
    font-size: vw(14px);
    line-height: vw(20px);
  }


  .menu {
    max-height: vw(188px);
  }

  .option {
    font-size: vw(14px);
    line-height: vw(20px);
  }
}


