// Colors
$white: #ffffff;
$grey1: #F5F5F6;
$grey2: #EAEBED;
$grey3: #D5D6DC;
$grey5: #ACADB9;
$grey6: #7B7C88;
$black: #232134;
$blue6: #3B7CD3;
$blue5: #5E96FC;
$blue4: #92C1FF;
$blue3: #B7D6FF;
$blue2: #C9E0FF;
$blue1: #DEECFF;
