.wrapper {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #D5D6DC;
  padding: 7px 12px;
  border-radius: 8px;
  justify-content: space-between;
}

.wrapper:hover {
  border: 1px solid #5E96FC;
}

.input_container {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.input {
  margin-left: 8px;
  border: none;
  outline: none;
  width: 100%;
  caret-color: #5E96FC;
  font-size: 14px;
  line-height: 21px;
  color: #232134;
}

.input::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: #ACADB9;
}

.buttons_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.arrow {
  cursor: pointer;
  width: 12px;
  height: 12px;
  color: #ACADB9;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: #92C1FF;
  }

  &:active {
    color: #5E96FC;
  }
}

.arrow:hover {
  background-color: #F5F5F5;
  border-radius: 20px;
}

.arrow_down {
  //transform: rotate(180deg);
}

.wrapper_active {
  border: 1px solid #5E96FC;
}
