@import '@/styles/mixins.scss';


.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.not_found_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  gap: 32px;
}

.not_found_text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.link_button {
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #DEECFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #3B7CD3;
  padding: 10px 24px;
  cursor: pointer;

  &:hover {
    color: #FFFFFF;
    background-color: #92C1FF;
  }

  &:active {
    color: #FFFFFF;
    background-color: #5E96FC;
  }
}

.pagination {
  margin-top: 88px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1439px) {
  .container {
    gap: vw(16px, 1440px);
  }

  .not_found_container {
    padding-top: vw(120px, 1440px);
    gap: vw(32px, 1440px);
  }

  .not_found_text {
    font-size: vw(24px, 1440px);
    line-height: vw(29px, 1440px);
  }

  .link_button {
    font-size: vw(14px, 1440px);
    line-height: vw(22px, 1440px);
    padding: vw(10px, 1440px) vw(24px, 1440px);
  }
}

@media screen and (max-width: 768px) {
  .container {
    gap: vw(16px, 768px);
  }

  .not_found_container {
    padding-top: vw(120px, 768px);
    gap: vw(32px, 768px);
  }

  .not_found_text {
    font-size: vw(24px, 768px);
    line-height: vw(29px, 768px);
  }

  .link_button {
    font-size: vw(14px, 768px);
    line-height: vw(22px, 768px);
    padding: vw(10px, 768px) vw(24px, 768px);
  }
}

@media screen and (max-width: 480px) {
  .container {
    gap: vw(16px);
  }

  .not_found_container {
    padding-top: vw(120px);
    gap: vw(32px);
  }

  .not_found_text {
    font-size: vw(24px);
    line-height: vw(29px);
  }

  .link_button {
    font-size: vw(14px);
    line-height: vw(22px);
    padding: vw(10px) vw(24px);
  }
}
