@import "@/styles/global-variables.scss";

.pagination {
  ul {
    gap: 8px;
  }

  li {
    background-color: $white;
    border: 1px solid $grey2;
    border-radius: 4px;
    height: 32px;

    button {
      margin: 0;
    }

    button > .Mui-selected {
      background-color: #5E96FC;
      color: $white;
    }
  }

  li:first-child, li:last-child {
    button {
      color: $grey6;
    }

    button:disabled {
      color: $grey3;
    }
  }
}
