@import '@/styles/mixins.scss';
@import "@/styles/global-variables.scss";

.vacancy_item {
  background-color: $white;
  border: 1px solid $grey2;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.vacancy_heading {
  display: flex;
  justify-content: space-between;

  svg {
    cursor: pointer;
  }
}

.vacancy_title {
  color: #5E96FC;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.vacancy_description {
  display: flex;
  align-items: center;
  gap: 12px;
}

.vacancy_salary {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $grey6;
}

.vacancy_workTime {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.vacancy_location {
  display: flex;
  gap: 8px;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

.empty_star {
  color: $grey5;

  &:hover {
    color: #5E96FC;
  }
}

.star {
  color: #5E96FC;
}

@media screen and (max-width: 1439px) {
  .vacancy_item {
    border-radius: vw(12px, 1440px);
    padding: vw(24px, 1440px);
    gap: vw(12px, 1440px);
  }

  .vacancy_title {
    font-size: vw(20px, 1440px);
    line-height: vw(24px, 1440px);
  }

  .vacancy_description {
    gap: vw(12px, 1440px);
  }

  .vacancy_salary {
    font-size: vw(16px, 1440px);
    line-height: vw(20px, 1440px);
  }

  .vacancy_workTime {
    font-size: vw(16px, 1440px);
    line-height: vw(20px, 1440px);
  }

  .vacancy_location {

    p {
      font-size: vw(16px, 1440px);
      line-height: vw(19px, 1440px);
    }
  }
}

@media screen and (max-width: 799px) {
  .vacancy_item {
    border-radius: vw(12px, 799px);
    padding: vw(24px, 799px);
    gap: vw(12px, 799px);
  }

  .vacancy_title {
    font-size: vw(20px, 799px);
    line-height: vw(24px, 799px);
  }

  .vacancy_description {
    gap: vw(12px, 799px);
  }

  .vacancy_salary {
    font-size: vw(16px, 799px);
    line-height: vw(20px, 799px);
  }

  .vacancy_workTime {
    font-size: vw(16px, 799px);
    line-height: vw(20px, 799px);
  }

  .vacancy_location {

    p {
      font-size: vw(16px, 799px);
      line-height: vw(19px, 799px);
    }
  }
}

@media screen and (max-width: 480px) {
  .vacancy_item {
    border-radius: vw(12px);
    padding: vw(24px);
    gap: vw(12px);
  }

  .vacancy_title {
    font-size: vw(20px);
    line-height: vw(24px);
  }

  .vacancy_description {
    gap: vw(12px);
  }

  .vacancy_salary {
    font-size: vw(16px);
    line-height: vw(20px);
  }

  .vacancy_workTime {
    font-size: vw(16px);
    line-height: vw(20px);
  }

  .vacancy_location {

    p {
      font-size: vw(16px);
      line-height: vw(19px);
    }
  }
}

