@import '@/styles/mixins.scss';
@import "@/styles/global-variables.scss";

.button {
  outline: none;
  border: none;
  background-color: $blue5;
  color: $white;
  border-radius: 8px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: $blue4;
  }

  &:active {
    background-color: $blue6;
  }
}

.fullwidth {
  width: 100%;
}

@media screen and (max-width: 1439px) {
  .button {
    padding: vw(8px, 1440px) vw(20px, 1440px);
    font-size: vw(14px, 1440px);
  }
}

@media screen and (max-width: 799px) {
  .button {
    padding: vw(8px, 799px) vw(20px, 799px);
    font-size: vw(14px, 799px);
  }
}

@media screen and (max-width: 480px) {
  .button {
    padding: vw(8px) vw(20px);
    font-size: vw(14px);
  }
}
